body {
  font-family: "Helvetica",sans-serif;
  text-align: center;
  }

.picture {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  }

  .picture h1 {
    font-size: 70px;
  }

.navButtons {
  font-size: 18px;
  color: white;
}

#process {
  font-size: 32px;
  font-weight: bold;
}

.workFlow {
  font-size: 23px;
  font-weight: bold;
}

.definition {
  font-size: 14px;
}

.miniHeader{
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
}

.footer {
  text-align: left;
  bottom: 0px;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  width: 100%;
}
